// -----------------------------------------------------------------------------
// This file contains all styles related to the centred layout of the site/application.
// -----------------------------------------------------------------------------

.grid-centred {
  // height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
}